name: CD - Deploy to DeWeb

on:
  push:
    branches: [dev]

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    needs: ci
    strategy:
      matrix:
        network: [buildnet]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: ./dist

      - name: Deploy Dev → buildnet
        id: deploy
        uses: massalabs/deweb-gh-action@v0.1.0
        with:
          config_file: ./deweb_cli_config.dev.${{ matrix.network }}.json as string
          source_folder: ./dist
        env:
          MASSA_DEWEB_SECRET_KEY: ${{ matrix.network == 'buildnet' && secrets.PRIVATE_KEY || secrets.MASSA_DEWEB_MAINNET_PKEY }}

      - name: URL
        run: echo "Dev deployed → ${{ steps.deploy.outputs.deployed-website }}"
